body,html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}
/* NavBar */
#img-logo-nav{
    width: 50px;
    height: 50px;
}
#input-pesquisa{
    background-color: #F95F62;
}
#input-pesquisa::-webkit-input-placeholder {
    color: white;
 }
 #form-pesquisa{
    background-color: #F95F62;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
    color:white;
   

}
 /* NavVertical */
 #nav-vertical-fornecedor, #nav-vertical-cliente{
    float: right;
    background-color: #f8f9fa;
    height: 90vh;
    width: 200px;
    display: none;
    position: absolute;
    right: 15px;
    z-index: 99999999999999999;
 }
 .nav-link{
    color: black !important;
    text-decoration: none !important;
 }

 /* Apresentação */
 #apresentacao{
    width: 100%;
    height: 450px;
    text-align: center;
    padding-top: 13%;
    color:white;
}
#btn-vamos-nessa{
    background-color: #FFBA5C;
    border: white solid 2PX;
    width: 200PX;
    height: 50PX;
    color: black;

}
 .background-laranja{
     background-color: #F95F62;
 }

 /* Slide Fornecedores */
 #slide-fornecedores{
    padding: 5%;
    height: 600px;
 }
 .card-deck{
     margin: 150px !important;

 }
 .card{
    border: none !important;
 }
 #slide-fornecedores h1{
     text-align: center;
     margin-bottom: -100px;
     color: #F95F62;
 }
 .seta-slide{
    width: 50px;
    height: 50px;
    margin-top: 250%;
 }
 footer{
     padding-right: 100px;
     padding-left: 60px;
     background-color: #F95F62;
     color: white;
     bottom: 0px;
    
     width: 100%;
 }
 #logo-footer{
    width: 200px;
    height: 200px;
 }
 #links-footer{
     padding: 50px;
 }
 #links-footer a{
    color:white;
     padding-bottom: 50px;
 }
 .img-footer{
     width: 25px;
     height: 25px;
     margin: 10px;
 }
 footer #contato{
    margin: 0px !important;
    padding: 0px !important;
 }
 #contato{
     margin: 0px;
     width: 600px;
 }
 #contato .col{
     padding: 0px;
     width: 30px !important;
 }
 footer .col-4{
    margin-top: 35px;
 }
